<button (click)="main()">Principal</button>
<div>
    <label class="title">Número</label>
    <input class="input" [(ngModel)]="newNumber" maxlength="4"/>
</div>
<button type="button" (click)="save()">Agregar</button>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Número</th>        
        <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let value of this.forbiddenLst">
        <td>{{value.number}}</td>        
        <td (click)="delete(value)">x</td>
    </tr>      
    </tbody>
</table>