<div class="container">
    <div class="container__content">
        <div>
            <div class="card">
                <label fclass="input-label">Usuario</label>
                <input class="form-control" maxlength="20" [(ngModel)]="user" >
                <label fclass="input-label">Contraseña</label>
                <input class="form-control" type="password" maxlength="20" [(ngModel)]="pwd" >
                <div>
                    <button class="bttn bttn-primary" type="button" (click)="login()">Entrar</button>
                </div>
            </div>
</div>