@import "../node_modules/bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr';
.main{
	padding-left: 10%;
	padding-top: 5%;
}

.title{
	font-weight: bold;
}

.input{
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}