<div class="container" *ngIf="isLogged">    
    <div class="container__menu">
        <button class="bttn bttn-primary" (click)="main()">Principal</button>        
    </div>
    <div class="container__content">
        <div>
            <div class="card">
                <label class="input-label">Lotería</label>                
                <input class="form-control" list="codeOptions" id="loteryList" (change)="change($event)" >
                <datalist id="codeOptions">            
                    <option *ngFor="let lotery of loteries">{{lotery.name}}</option>
                </datalist>        
                <label class="input-label">Número</label>
                <input type="text" class="form-control" [(ngModel)]="numberWinner" minlength="3" maxlength="4">
                <label class="input-label">Fecha</label>
                <input type="date" class="form-control" [(ngModel)]="date">
                <div class="full-width">
                    <button type="button" class="bttn bttn-primary" (click)="find()">Buscar</button>                    
                </div>                                
            </div>              
            <div class="card">
                <div class="spinner" *ngIf="isLoading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <table class="table" *ngIf="!isLoading">
                    <thead>
                    <tr>
                        <th scope="col">Número</th>        
                        <th scope="col">Juego</th>  
                        <th scope="col">Valor</th>  
                        <th scope="col">Lotería</th>
                        <th scope="col">Vendedor</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Premio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let value of this.winnerList">
                        <td>{{value.number}}</td>        
                        <td>{{value.type}}</td>      
                        <td>{{value.value}}</td>        
                        <td>{{value.name}}</td>        
                        <td>{{value.vendor_code}}</td>  
                        <td>{{value.DATE | date:'short':'+0000'}}</td>
                        <td>{{value.USERNAME}}</td>
                        <td>{{value.prize}}</td>
                    </tr>      
                    </tbody>
                </table>
            </div>
        </div>        